<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <link href="../css/manager.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-forgot-img"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                    <p class="mb-4">Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>
                  </div>
                  <form class="user" method="POST">
                    <% if(reset){ %>
                        <div class="mb-3 col-6">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Nueva contraseña" aria-label="New Password" aria-describedby="basic-addon" autofocus required>
                        </div>
                        <div class="mb-3 col-6">
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirmar contraseña" aria-label="Confirm Password" aria-describedby="basic-addon" required>
                        </div>
                        <div class="mb-3 col-9">
                            <input type="hidden" id="token" name="token" value=<%= token %>> 
                            <button class="btn btn-primary btn-block" type="submit" formaction="/reset">Reset</button>
                        </div>    
                      <% }else{ %>
                        <div class="mb-3 col-9">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon" autofocus autofocus required>
                        </div>
                        <div class="mb-3 col-9">
                          <input type="submit" class="btn btn-primary btn-block" value="Recordar contraseña">
                        </div>
                        <a href="/" class="f-left col-3" style="color: white;font-weight: 600;">
                          <i class="fas fa-chevron-left mr-2"></i> Volver
                        </a>
                      <% } %>        
                  </form>
                  <hr>
                  <div class="text-right">
                    <a class="small" href="/account/signup">¡Crear una cuenta!</a>
                  </div>
                  <div class="text-right">
                    <a class="small" href="/">¿Ya tienes cuenta? ¡Logeate!</a>
                  </div>
                  <%- include('../partials/messages/error_login') %>
                  <%- include('../partials/messages/success_login') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

</body>

</html>
