<div class="col-md-12 p-4" style="padding-right: 0 !important; padding-left: 0 !important;">
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Valores de Mercado</h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <canvas id="areaChart" width="700px"></canvas>
            </div>
        </div>
    </div>
</div>