<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
      </div>
      <div class="sidebar-brand-text mx-3"><img width="50%" src="/img/logo.svg"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" id="collapseMyTeamNavItem">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMyTeam" aria-expanded="true" aria-controls="collapseMyTeam">
        <i class="fas fa-futbol fa-sm" data-fa-transform="down-2 right-5 shrink-8"></i>
        <span>Mi Equipo</span>
      </a>
      <div id="collapseMyTeam" class="collapse" aria-labelledby="headingMyTeam" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a id="myTeam" class="collapse-item" href="/myTeam">Mi Equipo</a>
          <a id="recommendedTeam" class="collapse-item" href="/recommendedTeam">Once Recomendado</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="collapseNewsNavItem">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews" aria-expanded="true" aria-controls="collapseTwo">
        <i class="far fa-newspaper"></i>
        <span>Noticias</span>
      </a>
      <div id="collapseNews" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a id="variations" class="collapse-item" href="/variations">Variaciones</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" id="collapseMarketNavItem">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarket" aria-expanded="true">
        <i class="fas fa-exchange-alt" data-fa-transform="down-2 right-5 shrink-8"></i>
        <span>Mercado</span>
      </a>
      <div id="collapseMarket" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a id="allMarket" class="collapse-item" href="/all-market">Todo el Mercado</a>
          <a id="goalkeeper" class="collapse-item" href="/goalkeepers">Porteros</a>
          <a id="defense" class="collapse-item" href="/defenses">Defensas</a>
          <a id="midfielder" class="collapse-item" href="/midfielders">Mediocentros</a>
          <a id="forward" class="collapse-item" href="/forwards">Delanteros</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" id="collapseRecommenderNavItem">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecommender" aria-expanded="true">
        <i class="fas fa-lightbulb" data-fa-transform="down-2 right-5 shrink-8"></i>
        <span>Recomendador</span>
      </a>
      <div id="collapseRecommender" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a id="conservative" class="collapse-item" href="/conservative">Conservadora</a>
          <a id="moderate" class="collapse-item" href="/moderate">Moderada</a>
          <a id="aggressive" class="collapse-item" href="/aggressive">Agresiva</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" id="collapseLeagueNavItem">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLeague" aria-expanded="true" aria-controls="collapseLeague">
        <i class="fa fa-trophy" data-fa-transform="down-2 right-5 shrink-8"></i>
        <span>La Liga</span>
      </a>
      <div id="collapseLeague" class="collapse" aria-labelledby="headingLeague" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a id="allPlayers" class="collapse-item" href="/players">Jugadores</a>
          <a id="allTeams" class="collapse-item" href="/teams">Equipos</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>